.chart-container {
  width: 100%;
  height: 300px;
  padding: 16px;

  canvas {
    max-height: 100%;
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--ion-color-medium);
  }
}