<div class="chart" *ngIf="scores && scores.length; else emptyChart">
  <div class="chart-row" *ngFor="let score of scores">
    <div class="label">{{ getLanguageLabel(score.code) }}</div>
    <div class="bar">
      <div class="fill" [style.width.%]="score.percentage" [style.background]="getLanguageColor(score.code)"></div>
      <span class="value">{{ score.percentage }}%</span>
    </div>
  </div>
</div>

<ng-template #emptyChart>
  <div class="no-data">
    <p>Aucune donnée à afficher</p>
  </div>
</ng-template>