// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  /** Palette Bumble-like **/
  --love-mq: #ff9e63;      // Moments de qualité - Corail
  --love-sr: #ffc24b;      // Services rendus - Miel
  --love-pq: #ffe4b3;      // Paroles valorisantes - Sable
  --love-cd: #ffd966;      // Cadeaux - Nectar
  --love-tp: #ffd1dc;      // Toucher physique - Rose poudré

  /** primary : jaune Bumble **/
  --ion-color-primary: #ffb600;
  --ion-color-primary-rgb: 255,182,0;
  --ion-color-primary-contrast: #1f1408;
  --ion-color-primary-contrast-rgb: 31,20,8;
  --ion-color-primary-shade: #e0a100;
  --ion-color-primary-tint: #ffc126;

  /** secondary : brun doux **/
  --ion-color-secondary: #2a1e17;
  --ion-color-secondary-rgb: 42,30,23;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #251a14;
  --ion-color-secondary-tint: #3f342f;

  /** tertiary : crème */
  --ion-color-tertiary: #fff3d9;
  --ion-color-tertiary-rgb: 255,243,217;
  --ion-color-tertiary-contrast: #1f1408;
  --ion-color-tertiary-contrast-rgb: 31,20,8;
  --ion-color-tertiary-shade: #e0d4be;
  --ion-color-tertiary-tint: #fff5dd;

  /** Background ultra clair **/
  --ion-background-color: #fffbf4;
  --ion-background-color-rgb: 255,251,244;
  --ion-text-color: #1f1a17;
  --ion-border-color: rgba(31, 26, 23, 0.08);
}